[init]
  defaultBranch = "main"

[diff]
  external = "{{ .brewPath }}/bin/difft"

[pull]
  rebase = true

[push]
  autoSetupRemote = true
  default = "simple"

[rebase]
  autoStash = true

[alias]
  a = "add"
  b = "branch"
  ch = "checkout"
  ci = "commit"
  cm = "commit -m"
  d = "diff"
  ds = "diff --staged"
  l = "log --pretty=oneline --abbrev-commit"
  p = "pull"
  pp = "push"
  s = "status -s"
  wt = "worktree"

[commit]
  gpgsign = true
  verbose = false

[core]
  pager = "delta"

[gpg]
  format = "ssh"

[gpg "ssh"]
  {{ if eq .chezmoi.os "darwin" -}}
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
  {{ else if eq .chezmoi.os "windows" -}}
  program = "{{ .chezmoi.homeDir }}/AppData/Local/1Password/app/8/op-ssh-sign.exe"
  {{ else -}}
  program = "/opt/1Password/op-ssh-sign"
  {{- end }}

[user]
  name = {{ .git.name | quote }}
  email = {{ .git.email | quote }}
  signingKey = {{ .git.signingKey | quote }}

# credential helpers
[credential "https://gist.github.com"]
  helper =
  helper = "!{{ .brewPath }}/bin/gh auth git-credential"
[credential "https://github.com"]
  helper =
  helper = "!{{ .brewPath }}/bin/gh auth git-credential"
