[init]
  defaultBranch = "main"

[interactive]
  diffFilter = "delta --color-only"

[pull]
  rebase = true

[push]
  autoSetupRemote = true
  default = "simple"

[rebase]
  autoStash = true

[alias]
  a = "add"
  b = "branch"
  ch = "checkout"
  ci = "commit"
  cm = "commit -m"
  d = "diff"
  ds = "diff --staged"
  l = "log --pretty=oneline --abbrev-commit"
  p = "pull"
  pp = "push"
  s = "status -s"
  wt = "worktree"

[commit]
  gpgsign = true
  verbose = false

[core]
  pager = "delta"

[delta "decorations"]
  commit-decoration-style = "blue ol"
  commit-style = "raw"
  file-style = "omit"
  hunk-header-decoration-style = "blue box"
  hunk-header-file-style = "red"
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = "file line-number syntax"

[delta "interactive"]
  keep-plus-minus-markers = false

[gpg]
  format = "ssh"

[gpg "ssh"]
  {{ if eq .chezmoi.os "darwin" -}}
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
  {{ else }}
  program = "/opt/1Password/op-ssh-sign"
  {{- end }}

[user]
  name = "{{ .name }}"
  email = {{ .git.email | quote }}
  signingKey = {{ .git.signingKey | quote }}

# credential helpers
[credential "https://gist.github.com"]
  helper =
  helper = "!{{ .brewPath }}/bin/gh auth git-credential"
[credential "https://github.com"]
  helper =
  helper = "!{{ .brewPath }}/bin/gh auth git-credential"
[credential "https://gitlab.zoodigital.com"]
  helper =
  helper = "!{{ .brewPath }}/bin/glab auth git-credential"
