{{- $choices := list "private" "work" -}}
{{- $workspace := promptChoiceOnce . "workspace" "Workspace?" $choices "private" -}}

{{- $brewPath := "" -}}
{{- if eq .chezmoi.os "darwin" -}}{{- $brewPath = "/opt/homebrew" -}}
{{- else -}}{{- $brewPath = "/home/linuxbrew/.linuxbrew" -}}{{- end -}}

{{- $sshAgentPath := "" -}}
{{- if eq .chezmoi.os "darwin" -}}{{- $sshAgentPath = "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock" -}}
{{- else -}}{{- $sshAgentPath = "~/.1password/agent.sock" -}}{{- end -}}
---
format: yaml
progress: true
data:
  workspace: {{ $workspace }}

  brewPath: {{ $brewPath }}

  ssh:
    agentPath: {{ $sshAgentPath }}

  git:
    {{- if contains $workspace "work" }}
    name: Hayden Young
    email: {{ onepasswordRead "op://dots/git/email-work" | quote }}
    signingKey: {{ onepasswordRead "op://ZOO Digital/ssh-zoo/public key" | quote }}
    {{- else }}
    name: Hayden Young
    email: {{ onepasswordRead "op://dots/git/email-personal" | quote }}
    signingKey: {{ onepasswordRead "op://Personal/ssh-personal/public key" | quote }}
    {{- end }}
