git_protocol: ssh
glamour_style: dark
check_update: false
display_hyperlinks: false
hosts:
    gitlab.com:
        api_protocol: https
        api_host: gitlab.com
        token: ''
    gitlab.zoodigital.com:
        token: {{ onepasswordRead "op://dots/glab-cli-token/password" }} 
        api_host: gitlab.zoodigital.com
        git_protocol: https
        api_protocol: https
        user: HaydenY
host: gitlab.zoodigital.com
