@define-color base00 #161616;
@define-color base01 #262626;
@define-color base02 #393939;
@define-color base03 #525252;
@define-color base04 #dde1e6;
@define-color base05 #f2f4f8;
@define-color base06 #ffffff;
@define-color base07 #08bdba;
@define-color base08 #3ddbd9;
@define-color base09 #78a9ff;
@define-color base0A #ee5396;
@define-color base0B #33b1ff;
@define-color base0C #ff7eb6;
@define-color base0D #42be65;
@define-color base0E #be95ff;
@define-color base0F #82cfff;

* {
  font-family: 'GeistMono Nerd Font';
  font-size: 14px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  color: @base05;
  transition-property: background-color;
  transition-duration: .5s;
}

.modules-left {
  margin-left: 16px;
}

.modules-right {
  margin-right: 16px;
}

window#waybar.hidden {
  opacity: 0.2;
}

.module {
  padding: 4px;
  margin: 16px 0 0 0;
  border: 2px solid @base02;
  border-radius: 6px;
  background: @base01;
}

button {
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
}

#workspaces button {
  padding: 0 4px;
  background-color: transparent;
  color: @base05;
}

#workspaces button:hover {
  color: @base0E;
}

#workspaces button.active {
  color: @base0E;
}

#workspaces button.urgent {
  background-color: @base0F;
}

#workspaces button.empty {
  color: @base03;
}

#clock,
#pulseaudio,
#tray {
  padding: 0 12px;
  color: @base05;
}

#pulseaudio:hover {
  color: @base0E;
  background-color: @base03;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
