{{- if ne .chezmoi.os "windows" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
tap "sst/tap"

brew "act"
brew "age"
brew "asciinema"
brew "atuin"
brew "awscli"
brew "azure-cli"
brew "bat"
brew "chezmoi"
brew "difftastic"
brew "eza"
brew "findutils"
brew "gh"
brew "git"
brew "glab"
brew "gnu-getopt"
brew "jq"
brew "lazygit"
brew "mise"
brew "mkcert"
brew "neovim"
brew "ripgrep"
brew "sops"
brew "sst/tap/opencode"
brew "starship"
brew "tree-sitter"
brew "usage"
brew "uv"
brew "viddy"

# containers
brew "colima"
brew "ctlptl"
brew "dive"
brew "docker"
brew "docker"
brew "docker-buildx"
brew "docker-compose"
brew "lima"
brew "trivy"

# kubernetes
brew "helm"
brew "k9s"
brew "krew"
brew "kubeconform"
brew "kubectx"
brew "kubernetes-cli"
brew "kustomize"

# os-specific
cask "1password" if OS.mac?
cask "1password-cli" if OS.mac?
cask "discord" if OS.mac?
cask "ghostty" if OS.mac?
cask "keymapp" if OS.mac?
cask "lm-studio" if OS.mac?
cask "raycast" if OS.mac?
cask "spotify" if OS.mac?
cask "visual-studio-code" if OS.mac?

{{ if ne .workspace "work" -}}
mas "Keyword Search", id: 1558453954
mas "Parcel", id: 639968404
mas "Yubico Authenticator", id: 1497506650
{{ end -}}
EOF
{{- end -}}
