{{- if ne .chezmoi.os "windows" -}}
#!/usr/bin/env bash

if [[ "$(uname -s)" == "Linux" ]]; then
  . /etc/os-release
  os="${ID_LIKE:-$ID}"

  case $os in
    *arch* )
      sudo pacman --sync --noconfirm base-devel procps-ng curl file git
      ;;
    *rhel* )
      sudo dnf group install 'Development Tools'
      sudo dnf install procps-ng curl file
      ;;
    *fedora* )
      sudo dnf group install development-tools
      sudo dnf install procps-ng curl file
      ;;
    *debian* )
      sudo apt-get install build-essential procps curl file git
      ;;
    * )
      echo "Unsupported OS"
      exit 1
      ;;
  esac
else
  xcode-select --install
fi

bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
# vim:ft=bash
{{- end -}}
