{{- if ne .chezmoi.os "windows" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
brew "age"
brew "awscli"
brew "bat"
brew "chezmoi"
brew "ctlptl"
brew "direnv"
brew "eza"
brew "gh"
brew "git"
brew "git-delta"
brew "glab"
brew "helm"
brew "jq"
brew "k9s"
brew "krew"
brew "kubeconform"
brew "kubectx"
brew "kubernetes-cli"
brew "kustomize"
brew "lazygit"
brew "neovim"
brew "mise"
brew "opentofu"
brew "ripgrep"
brew "sops"
brew "starship"
brew "terraform-docs"
brew "tree-sitter"
brew "trivy"
brew "uv"
brew "viddy"
brew "volta"

# os-specific
brew "mysql-client@8.0" if OS.mac?
brew "nginx" if OS.mac?
cask "1password-cli" if OS.mac?
cask "amazon-chime" if OS.mac?
cask "arc" if OS.mac?
cask "discord" if OS.mac?
cask "ghostty" if OS.mac?
cask "keymapp" if OS.mac?
cask "microsoft-teams" if OS.mac?
cask "orbstack" if OS.mac?
cask "raycast" if OS.mac?
cask "slack" if OS.mac?
cask "spotify" if OS.mac?
mas "1Password for Safari", id: 1569813296
mas "AdGuard for Safari", id: 1440147259
mas "Dark Reader for Safari", id: 1438243180
mas "Keynote", id: 409183694
mas "Keyword Search", id: 1558453954
mas "Parcel", id: 639968404
mas "PayPal Honey", id: 1472777122
mas "Xcode", id: 497799835
mas "Yubico Authenticator", id: 1497506650
EOF
{{- end -}}
