{{- $ghcrToken := onepasswordRead "op://dots/gh-cli-token/password" -}}
{{- $ghcrAuth := (printf "%s:%s" "hbjydev" $ghcrToken) | b64enc -}}
{
  "cliPluginsExtraDirs": ["{{ .brewPath }}/lib/docker/cli-plugins"],
  "auths": {
    "ghcr.io": {
      "auth": "{{ $ghcrAuth }}"
    }
  },
  "currentContext": "colima",
  "credHelpers": {
    "gcr.io": "gcloud",
    "us.gcr.io": "gcloud",
    "eu.gcr.io": "gcloud",
    "asia.gcr.io": "gcloud",
    "staging-k8s.gcr.io": "gcloud",
    "marketplace.gcr.io": "gcloud",
    "europe-west2-docker.pkg.dev": "gcloud"
  }
}
