{{ if stat (joinPath .chezmoi.homeDir ".orbstack") -}}
Include ~/.orbstack/ssh/config
{{- end }}
{{ if stat (joinPath .chezmoi.homeDir ".config/colima") -}}
Include /Users/hyoung/.config/colima/ssh_config
{{- end }}
Include ~/.ssh/conf.d/*

Host *
  SetEnv TERM="xterm-256color"
  User {{ if contains .workspace "work" }}hyoung{{ else }}hayden{{ end }}
  IdentityAgent {{ .ssh.agentPath | quote }}

Host *
  ForwardAgent yes
  AddKeysToAgent no
  Compression yes
  ServerAliveInterval 0
  ServerAliveCountMax 3
  HashKnownHosts no
  UserKnownHostsFile ~/.ssh/known_hosts
  {{- if ne .chezmoi.os "windows" }}
  ControlMaster auto
  ControlPath /tmp/ssh.%r.%n.%p
  ControlPersist 10m
  {{- end -}}
