Include config.d/*

Host *
  SetEnv TERM="xterm-256color"
  User {{ if contains .workspace "work" }}hyoung{{ else }}hayden{{ end }}
  IdentityAgent {{ .ssh.agentPath | quote }}

Host *
  ForwardAgent yes
  AddKeysToAgent no
  Compression yes
  ServerAliveInterval 0
  ServerAliveCountMax 3
  HashKnownHosts no
  UserKnownHostsFile ~/.ssh/known_hosts
  ControlMaster auto
  ControlPath /tmp/ssh.%r.%n.%p
  ControlPersist 10m
