@define-color base00 #161616;
@define-color base01 #262626;
@define-color base02 #393939;
@define-color base03 #525252;
@define-color base04 #dde1e6;
@define-color base05 #f2f4f8;
@define-color base06 #ffffff;
@define-color base07 #08bdba;
@define-color base08 #3ddbd9;
@define-color base09 #78a9ff;
@define-color base0A #ee5396;
@define-color base0B #33b1ff;
@define-color base0C #ff7eb6;
@define-color base0D #42be65;
@define-color base0E #be95ff;
@define-color base0F #82cfff;

* {
    font-family: 'GeistMono NF';
    font-size: 18px;
}

window {
  background-color: @base00;
  color: @base04;
  margin: 0px;
  border: 2px solid @base0E;
  border-radius: 8px;
}

#input {
  margin: 5px;
  border: none;
  background-color: @base01;
  color: @base05;
  padding: 8px 16px;
}

#inner-box {
  margin: 5px;
  background-color: @base00;
  border: none;
}

#outer-box {
  margin: 16px;
  border-radius: 8px;
}

#entry {
  padding: 8px;
  color: @base03;
}

#entry > #text {
  color: @base03;
}

#img {
  margin-right: 10px;
  opacity: 0.3;
}

#entry:selected {
  background-color: @base0E;
  border-radius: 8px;
}

#entry:selected #img {
  margin-right: 10px;
  opacity: 1;
}
