// vim:ft=jsonc
{
  "$schema": "https://opencode.ai/config.json",
  "theme": "system",

  // Model config
  "model": "github-copilot/claude-sonnet-4.5",
  "small_model": "github-copilot/claude-haiku-4.5",

  "plugin": [
    "@franlol/opencode-md-table-formatter@0.0.3",
    "opencode-beads"
  ],

  // MCP Servers
  "mcp": {
    "github": {
      "type": "local",
      "command": ["github-mcp-server", "stdio"],
      "enabled": true,
      "environment": {
        "GITHUB_PERSONAL_ACCESS_TOKEN": "{{ onepasswordRead "op://dots/gh-cli-token/password" }}",
        "GITHUB_TOOLSETS": "default,gists,actions,context,security_advisories,users,copilot_spaces,copilot"
      }
    },
    "gh_grep": {
      "type": "remote",
      "url": "https://mcp.grep.app",
      "enabled": true
    },
    "context7": {
      "type": "remote",
      "url": "https://mcp.context7.com/mcp",
      "enabled": true
    },
    "playwright": {
      "type": "local",
      "command": ["npx", "@playwright/mcp@latest"],
      "enabled": true
    },
    "sequential_thinking": {
      "type": "local",
      "command": ["bunx", "@modelcontextprotocol/server-sequential-thinking"],
      "enabled": true
    }{{- if eq .workspace "work" }},
    "atlassian": {
      "type": "local",
      "command": ["bunx", "mcp-remote", "https://mcp.atlassian.com/v1/sse"],
      "enabled": true
    }
    {{- end }}
  },

  // LSP Servers
  "lsp": {
    "roslyn": {
      "command": ["{{ .chezmoi.homeDir }}/.local/share/nvim/mason/bin/roslyn", "--logLevel=Information", "--extensionLogDirectory={{ .chezmoi.homeDir }}/.local/state/opencode/lsp/roslyn", "--stdio"],
      "extensions": [".cs"]
    },
    "intelephense": {
      "command": ["{{ .chezmoi.homeDir }}/.local/share/nvim/mason/bin/intelephense", "--stdio"],
      "extensions": [".php"],
      "initialization": {
        "licenceKey": "{{ .chezmoi.homeDir }}/.config/nvim/intelephense.key"
      }
    }
  },

  // Local LLMs
  "provider": {
    "lmstudio": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "LM Studio",
      "options": {
        "baseURL": "http://127.0.0.1:1234/v1"
      }
    }
  }

  // Other
  "share": "disabled",
  "instructions": ["AGENTS.md", "CONTRIBUTING.md", ".github/copilot-instructions.md", "CLAUDE.md"]
}
