// vim:ft=jsonc
{
  "$schema": "https://opencode.ai/config.json",
  "theme": "system",

  // Model config
  "model": "github-copilot/claude-sonnet-4.5",
  "small_model": "github-copilot/claude-haiku-4.5",

  // MCP Servers
  "mcp": {
    "gh_grep": {
      "type": "remote",
      "url": "https://mcp.grep.app"
    },
    "context7": {
      "type": "remote",
      "url": "https://mcp.context7.com/mcp"
    },
    "sequential_thinking": {
      "type": "local",
      "command": ["bunx", "@modelcontextprotocol/server-sequential-thinking"]
    }{{- if eq .workspace "work" }},
    "atlassian": {
      "type": "local",
      "command": ["bunx", "mcp-remote", "https://mcp.atlassian.com/v1/sse"]
    }
    {{- end }}
  },

  // LSP Servers
  "lsp": {
    "roslyn": {
      "command": ["{{ .chezmoi.homeDir }}/.local/share/nvim/mason/bin/roslyn", "--logLevel=Information", "--extensionLogDirectory={{ .chezmoi.homeDir }}/.local/state/opencode/lsp/roslyn", "--stdio"],
      "extensions": [".cs"]
    },
    "intelephense": {
      "command": ["{{ .chezmoi.homeDir }}/.local/share/nvim/mason/bin/intelephense", "--stdio"],
      "extensions": [".php"],
      "initialization": {
        "licenceKey": "{{ .chezmoi.homeDir }}/.config/nvim/intelephense.key"
      }
    }
  },

  // Other
  "share": "disabled",
  "instructions": ["AGENTS.md", "CONTRIBUTING.md", ".github/copilot-instructions.md", "CLAUDE.md"]
}
