[alias]
  a = "add"
  b = "branch"
  ch = "checkout"
  ci = "commit"
  cm = "commit -m"
  d = "diff"
  ds = "diff --staged"
  l = "log --pretty=oneline --abbrev-commit"
  p = "pull"
  pp = "push"
  s = "status -s"
  wt = "worktree"

[commit]
  gpgsign = true
  verbose = false

[core]
  pager = "delta"

[credential "https://gist.github.com"]
  helper =
  {{ if eq .chezmoi.os "darwin" -}}
  helper = "!/opt/homebrew/bin/gh auth git-credential"
  {{ else -}}
  helper = "!/home/linuxbrew/bin/gh auth git-credential"
  {{ end -}}

[credential "https://github.com"]
  helper =
  {{ if eq .chezmoi.os "darwin" -}}
  helper = "!/opt/homebrew/bin/gh auth git-credential"
  {{ else -}}
  helper = "!/home/linuxbrew/bin/gh auth git-credential"
  {{ end -}}

[credential "https://gitlab.zoodigital.com"]
  helper =
  {{ if eq .chezmoi.os "darwin" -}}
  helper = "!/opt/homebrew/bin/glab auth git-credential"
  {{ else -}}
  helper = "!/home/linuxbrew/bin/glab auth git-credential"
  {{ end -}}

[delta "decorations"]
  commit-decoration-style = "blue ol"
  commit-style = "raw"
  file-style = "omit"
  hunk-header-decoration-style = "blue box"
  hunk-header-file-style = "red"
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = "file line-number syntax"

[delta "interactive"]
  keep-plus-minus-markers = false

[gpg]
  format = "ssh"

[gpg "ssh"]
  {{ if eq .chezmoi.os "darwin" -}}
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
  {{ else }}
  program = "/opt/1Password/op-ssh-sign"
  {{- end }}

[init]
  defaultBranch = "main"

[interactive]
  diffFilter = "delta --color-only"

[pull]
  rebase = true

[push]
  autoSetupRemote = true
  default = "simple"

[rebase]
  autoStash = true

[user]
  {{ if eq .chezmoi.os "darwin" -}}
  email = "hayden.young@zoodigital.com"
  {{ else -}}
  email = "22327045+hbjydev@users.noreply.github.com"
  {{ end -}}
  name = "Hayden Young"
  {{ if eq .chezmoi.os "darwin" -}}
  signingKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICdUGldjr+KGTEcc1XHlpNGRSvBeuPH2fBJz27+28Klw"
  {{ else -}}
  signingKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDkhuhfzyg7R+O62XSktHufGmmhy6FNDi/NuPPJt7bI+"
  {{- end -}}
