[settings]
experimental = true
verbose = false
jobs = 4
raw = false
pipx.uvx = true
python.uv_venv_auto = true
npm.package_manager = "bun"

[tools]
bun = "latest"
go = "latest"
node = "22"
pnpm = "latest"
rust = "latest"
zig = "latest"
dotnet = "latest"
"asdf:mise-plugins/mise-gcloud" = "latest"
fnox = "latest"
pitchfork = "latest"
"go:github.com/github/github-mcp-server/cmd/github-mcp-server" = "v0.30.2"
{{- if eq .chezmoi.os "darwin" }}
swift = "latest"
{{- end -}}
