[settings]
experimental = true
verbose = false
jobs = 4
raw = false
pipx.uvx = true
python.uv_venv_auto = true

[tools]
bun = "latest"
go = "latest"
node = "22"
rust = "latest"
zig = "latest"
{{- if eq .chezmoi.os "darwin" }}
swift = "latest"
{{- end -}}
